{% extends "vote_list.html" %}

{% block vote-title %}
{{vote.name }}
{% endblock %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/vote_detail.css" %}"/>
{% endblock %}

{% block js %}
    <script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
    <script>
        var vote = {
            'name': '{{vote.name }}'{% if vote.id %},
            'id': {{ vote.id }},
            'key': '{{ vote.key|escapejs }}',
            'description': '{{ vote.description|escapejs }}',
            'pic_url': '{{ vote.pic_url }}',
            'max_num' : {{ vote.max_num }},
            'start_time': {
                'year': {{ vote.start_time.year }},
                'month': {{ vote.start_time.month }},
                'day': {{ vote.start_time.day }},
                'hour': {{ vote.start_time.hour }},
                'minute': {{ vote.start_time.minute }}
            },
            'end_time': {
                'year': {{ vote.end_time.year }},
                'month': {{ vote.end_time.month }},
                'day': {{ vote.end_time.day }},
                'hour': {{ vote.end_time.hour }},
                'minute': {{ vote.end_time.minute }}
            },
            'items': [
            {% for item in vote.items %}
                {
                    'name': '{{ item.name|escapejs }}',
                    'description': '{{ item.description|escapejs }}',
                    'pic_url': '{{ item.pic_url }}',
                    'vote_num': {{ item.vote_num }}
                },
            {% endfor %}
            ],
            'status': {{ vote.status }}{% else %},
            'items': [],
            'status': 0{% endif %}
        }
    </script>
    <script src="{% static "js/vote_detail.js" %}"></script>
{% endblock %}

{% block vote-list-active %}{% endblock %}

{% block nav-li-ext %}
    <li class="{% block vote-detail-active %}active{% endblock %}">
        <a href="{% if vote.id %}
        {% url "adminpage.views.vote_detail" voteid=vote.id %}
        {% else %}
        {% url "adminpage.views.vote_add" %}
        {% endif %} ">{{ vote.name }}</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container" id="detail-noscript">
        <noscript>请开启JavaScript后重试。</noscript>
    </div>
    <div class="container" id="detail-form" style="display: none;">
        <form class="form-horizontal" role="form" method="post" action="{% url "adminpage.views.vote_post" %}" id="vote-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="input-name" class="col-sm-2 control-label" id="label-input-name">投票名称</label>
                <div class="col-sm-10">
                    <input type="text" maxlength="26" name="name" class="form-control" id="input-name" placeholder="投票名称，如 我最喜爱的老师评选" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="input-key" class="col-sm-2 control-label">投票代称</label>
                <div class="col-sm-10">
                    <input type="text" maxlength="12" name="key" class="form-control" id="input-key" placeholder="用户参与投票的投票代称，推荐使用中文(少于7个字)，如 清韵烛光">
                </div>
            </div>

            <div class="form-group">
                <label for="input-description" class="col-sm-2 control-label">投票简介</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" rows="3" id="input-description" placeholder="描述，如最喜欢的老师投票选举" row="3" style="resize: none;"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="input-pic_url" class="col-sm-2 control-label" min="0">投票配图</label>
                <div class="col-sm-10">
                    <input type="url" name="pic_url" class="form-control" id="input-pic_url" min="0" placeholder="请填入图片链接">
                </div>
            </div>

            <div class="form-group">
                <label for="input-max_num" class="col-sm-2 control-label" min="0">每人投票量上限</label>
                <div class="col-sm-10">
                    <input type="number" name="max_num" class="form-control" id="input-max_num" min="0" placeholder="请输入每人投票量上限">
                </div>
            </div>

            <div class="form-group">
                <label for="input-start-year" class="col-sm-2 control-label">投票开始</label>
                <div class="form-inline col-sm-10" id="input-start_time">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-start-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-minute">分</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="input-end-year" class="col-sm-2 control-label">投票结束</label>
                <div class="form-inline col-sm-10" id="input-end_time">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-end-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-minute">分</label>
                    </div>
                </div>
            </div>

            <details open="open" id="vote_choice_1" class="vote_choice">
                <summary class="vote_option_summary">投票项1<span class="vote_delete" title="删除"></span></summary>
                <div class="dynamic">
                    <div class="form-group">
                        <label for="input-item" class="col-sm-2 control-label">投票项名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="name1" class="form-control"placeholder="投票项的名称，如刘强老师">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-item_description" class="col-sm-2 control-label">投票项简介</label>
                        <div class="col-sm-10">
                            <textarea row="3" style="resize: none;" type="text" name="description1" class="form-control"  placeholder="投票项的简介，如刘强老师为软件学院老师，开设软件工程等课程"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-item_pic_url" class="col-sm-2 control-label">投票项图片</label>
                        <div class="col-sm-10">
                            <input type="url" name="pic_url1" class="form-control" placeholder="请填入图片链接">
                        </div>
                    </div>
                </div>
            </details>

            <div class="form-group" id="bottom_button">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="addchoice();" class="btn btn-primary" id="addItem">新增投票项</button>
                    <!-- <button type="reset" class="btn btn-warning" id="resetBtn">重置</button> -->
                </div>
                </br>
                </br>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="publishVote();" class="btn btn-primary" id="publishBtn">发布</button>
                    <button type="submit" class="btn btn-default" id="saveBtn">暂存</button>
                    <button type="button" onclick="seeVoteResult();" class="btn btn-primary" id="resultBtn">结果</button>
                </div>
            </div>

        </form>
    </div>

    <div class="container" id="detail-processing" style="display: none;">
        <img src="{% static "img/loading.gif" %}">
        正在执行，请稍候……
    </div>

    <div class="container" id="detail-result" style="display: none;">
        <h1>处理结果</h1>
        <pre id="resultHolder"></pre>
        <div class="col-sm-offset-2">
            <button class="btn btn-info" id="continueBtn">继续修改</button>
            <a class="btn btn-success" href="{% url "adminpage.views.vote_list" %}">返回列表</a>
        </div>
    </div>

    <div class="container" id="detail-vote_result" xmlns="http://www.w3.org/1999/html">

        <div class="pageheader">
            <h1 class="lead">投票结果</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" onclick="returnToVoteDetail()">返回</button>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                <th>投票项名称</th>
                <th>票数</th>
                <th></th>
                </tr>
                </thead>
                <tbody id="tbody-vote_result">
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
