<!-- Creator:SwingACE -->
{% extends "vote_list.html" %}

{% block vote-title %}
{{vote.name }}
{% endblock %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/vote_statistics.css" %}"/>
{% endblock %}

{% block js %}
    <script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
    <script>
        var vote = {
            'items': [
            	{% for item in vote.items %}
                {
                    'name': '{{ item.name|escapejs }}',
                    'percent': {{ item.percent }},
                    'vote_num': {{ item.vote_num }}
                },
            	{% endfor %}
            ],
            'times': [
            	{% for time in vote.times %}
                {
                    'interval': '{{ time.interval|escapejs }}',
                    'height': {{ time.height }}
                },
            	{% endfor %}
            ]
        }
    </script>
    <script src="{% static "js/vote_statistics.js" %}"></script>
{% endblock %}

{% block vote-list-active %}{% endblock %}

{% block nav-li-ext %}
    <li class="{% block vote-detail-active %}active{% endblock %}">
        <a href="">{{ vote.name }}</a>
    </li>
{% endblock %}

{% block content %}
<div id="button">
    <button type="button" onclick="showHistogram();" class="btn btn-primary" id="Histogram">得票结果</button>
    <button type="button" onclick="showLineargram();" class="btn btn-primary" id="Lineargram">投票过程</button>
</div>
</br>
</br>
<div class="caption" id="histogram-caption">纵坐标为票数，横坐标为投票项</br></br></div>
<div class="caption" id="lineargram-caption">纵坐标为一定时间段内投票人数，横坐标为时间段</br></br></div>
<table id="histogram-table">
    <tr>
        <td style="width:50px;border:1px groove;" class="talbe-item">序号</td><td class="talbe-item">对应的投票项名称</td>
    </tr>
</table>
<table id="lineargram-table">
    <tr>
        <td style="width:50px;border:1px groove;" class="talbe-item">序号</td><td style="width:120px;border:1px groove;" class="talbe-item">对应的时间段</td>
    </tr>
</table>
<div class="histogram-container" id="histogram-container"></div>
<div><canvas width="700" height="300" id="canvas"> </canvas></div>

{% endblock %}