{% extends "vote_list.html" %}

{% block vote-title %}
{{vote.name }}
{% endblock %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/vote_statistics.css" %}"/>
{% endblock %}

{% block js %}
    <script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
    <script>
        var vote = {
            'items': [
            	{% for item in vote.items %}
                {
                    'name': '{{ item.name|escapejs }}',
                    'percent': {{ item.percent }},
                    'vote_num': {{ item.vote_num }}
                },
            	{% endfor %}
            ],
            'times': [
            	{% for time in vote.times %}
                {
                    'interval': '{{ time.interval|escapejs }}',
                    'height': {{ time.height }}
                },
            	{% endfor %}
            ]
        }
    </script>
    <script src="{% static "js/vote_statistics.js" %}"></script>
{% endblock %}

{% block vote-list-active %}{% endblock %}

{% block nav-li-ext %}
    <li class="{% block vote-detail-active %}active{% endblock %}">
        <a href="">投票详情</a>
    </li>
{% endblock %}

{% block content %}
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css.css" type="text/css" rel="stylesheet" />
<script src="jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="histogram.js" type="text/javascript"></script>
</head>
<body> -->
<div id="button">
    <button type="button" onclick="showHistogram();" class="btn btn-primary" id="Histogram">得票结果</button>
    <button type="button" onclick="showLineargram();" class="btn btn-primary" id="Lineargram">投票过程</button>
</div>
</br>
</br>
<div class="caption" id="histogram-caption">纵坐标为票数，横坐标为投票项</div>
<div class="caption" id="lineargram-caption">纵坐标为票数，横坐标为时间段（整个投票过程被划分为20等份）</div>
<div class="histogram-container" id="histogram-container"></div>
<div><canvas width="1000" height="500" id="canvas"> </canvas></div>
<table id="histogram-table">
    <tr>
        <td style="width:50px;border:1px groove;" class="talbe-item">序号</td><td class="talbe-item">对应的投票项名称</td>
    </tr>
</table>
<table id="lineargram-table">
    <tr>
        <td style="width:50px;border:1px groove;" class="talbe-item">序号</td><td style="width:310px;border:1px groove;" class="talbe-item">对应的时间段</td>
    </tr>
</table>
<!-- <p class="xiaoboy"><a href="http://www.xiaoboy.com" target="_blank">BY 小虾虎鱼http://www.xiaoboy.com</a></p>
</body>
</html> -->
{% endblock %}