{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
票务信息 - 清华紫荆之声
{% endblock %}

{% block css %}
<link href="{% static "css/ticket.css" %}?_=3" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
        console.log({{ ticket_status }});
        console.log({{ abd }});
        console.log("{{ mainmenu }}");
        console.log("{{ act_uid }}");
        console.log("row {{ seat_row }}");
        console.log("column {{ seat_column }}");
    </script>
    <script src="{% static "js/ticket.js" %}"></script>
{% endblock %}

{% block theme %}
    “{{ act_name }}”电子票
{% endblock %}

{% block content %}

    <div class="info-wrapper">
        <div class="img-inner">
            <img class="details-img" src="{{ act_photo  }}" />
        </div>
        <p class="ticket-wrapper">
            活动地点：<b>{{ act_place }}</b>
        </p>
        <p class="ticket-wrapper">
            <b>您的座位在：第{{ seat_row }}行，第{{ seat_column }}列</b>
        </p>
        {% if ticket_status > 0 %}
            {% if ticket_seat == 'B' %}
                <div class="ticket-wrapper">
                    说明：<span class="status-size ticket-used">您的座位在B区 请从二楼北侧进入</span>
                </div>
            {% elif ticket_seat == 'C' %}
                <div class="ticket-wrapper">
                    说明：<span class="status-size ticket-used">您的座位在C区 请从二楼南侧进入</span>
                </div>
            {% endif %}
        {% endif %}
        <p class="ticket-wrapper">
            开始时间：<b>{{ act_begintime|date:"Y年m月d日 H:i" }}</b>
        </p>
    </div>

    {% if ticket_status == 1 %}
    <div class="ticket-wrapper">
        <span class="status-size ticket-valid">活动开始前45分钟凭本电子票入场</span>
    </div>
    <div class="ticket-wrapper">
        <b>回复“退票 {{ act_key }}”即可退票</b>
    </div>
    {% endif %}
    <div>
        <br/>
        <br/>
     </div>
    <div class="ticket-wrapper">
		<a class="button" onclick="find()">发现</b>
		{% if ticket_status == 1 %}
		<a class="button" href="{% url 'userpage.views.seat_mainmenu_view' uid %}">选座</a>
		{% else %}
		    {% if ticket_status == 3 %}
		    <b class="button" onclick="comment()">评价</b>
		    {% else %}
		    <b class="button">其它</b>
		    {% endif %}
		{% endif %}
		<a class="button" onclick="share()">分享</b>
	</div>

{% endblock %}