{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
    选择座位
{% endblock %}


{% block content %}
<center>
<div id="seatArea">
<div class = "head">
	<img src="{% static 'img/stage.png' %}" style="width:80%;">
	<div id="stage_sign" style="margin:5px;font-size:15px;">舞台</div>

<div id="hint">当前没有选择座位</div>

</div>
<div class = "view">
	<table>
	{% for row in seat_status %}
		<tr> 
		{% for columns in row %}
			<td class = {{columns}} onclick = "changeState(this.id)"><span></span></td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>
<table>
	<td><img src= 'http://wx6.igeek.asia/static1/img/selectable.png'  style='width:25px;height:20px;'/>可选</td>
	<td><img src= 'http://wx6.igeek.asia/static1/img/unselectable.png' style='width:25px;height:20px;'/>不可选</td>
	<td><img src= 'http://wx6.igeek.asia/static1/img/selected.png' style='width:25px;height:20px;'/>当前选择</td>
	<td><img src= 'http://wx6.igeek.asia/static1/img/lastselect.png'  style='width:25px;height:20px;'/>上次选择</td>
</table>
<br></br>

<form name="input"  id="seatForm" action="{% url 'userpage.views.choose_seat_post' uid %}" method="post" style="display:none">
	<input type="text" name="row" id="n">
	<input type="text" name="column" id="n">
</form>
<button type="button" onclick="commitSeat();" style="margin-bottom:20px;width:80px;height:41px;background-color: #fff;border-radius:9px;font-size:1.4em;">确认</button>
</div>

<div id="loading">
    <p class="help-block" id="Loading" style="display: none"><img src="{% static "img/loading.gif" %}">正在提交选座信息，请稍候...</p>
</div>

<div id="failure" style="display:none">
	<a href="{% url 'userpage.views.seat_mainmenu_view' uid %}">
        <button type="button" style="margin-bottom:20px;width:80px;height:41px;background-color: #fff;border-radius:9px;font-size:1.4em;">重新选座</button>

    </a>
	<p class="help-block" id="failHolder">您选的座位刚刚被别人抢走了T_T</p>
</div>

<div id="success" style="display: none">
    <img src="{% static "img/success.png" %}" />
    <p>选座成功！</p>
    <a href="{% url 'userpage.views.ticket_view' uid %}"><button type="button" style="margin-bottom:20px;width:80px;height:41px;background-color: #fff;border-radius:9px;font-size:1.4em;">返回</button>
    </a>
</div>
</center>
{% endblock %}

{% block js%}
<script src="http://soso.qstatic.com/wenwen/deploy/js/sea_modules/jquery/1.7.2/jquery-1.7.2.min_a0069db.js"></script>
<script src="{% static 'lib/jq/form/jquery.form.min.js' %}"></script>
<script src="{% static 'js/seat_tsinghua_hall.js' %}"></script>
<script type="text/javascript">
    var l = document.getElementById("n")
	l.value = {{row}}
	l.style.display = "none"
</script>
{% endblock %}
