{% extends "mobile_base.html" %}

{% load staticfiles %}
{% block css %}
<link href="{% static "css/seat_tsinghua_hall.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">

    <title>0表示不可选；1表示空闲座位；2表示已被选；3表示自己当前选中；4表示自己上一次选中</title>
</head>
<body>
<div class = "head">
	<h7>选择座位</h7>
</div>
<div class = "view">
	<table>
	{% for row in seat_status.res %}
		<tr> 
			<th>第{{forloop.counter}}排</th>
		{% for columns in seat_status.res.row %}
			<td class = {{columns}} onclick = "changeState(this.id)"><span></span></td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>
<form name="input" action="/seat/" method="post">
	<input type="text" name="233" style="display:none;" id="n">
	<input type="submit" value="提交" >
</form>
</body>
{% endblock %}
{% block js%}
<script src="http://soso.qstatic.com/wenwen/deploy/js/sea_modules/jquery/1.7.2/jquery-1.7.2.min_a0069db.js"></script>
<script src = "{% static "js/seat_tsinghua_hall.js"%}"></script>
<script>
	var l = document.getElementById("n")
	l.value = {{row}}
	l.style.display = "none"
</script>
{% endblock %}
</html> 