{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
选座主菜单
{% endblock %}

{% block css %}
<link href="{% static "css/seat_menu.css" %}?_=3" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
	<div class="row">
		<b class="seatBlock" href="{% url 'submenu' uid 1 %}">座位区1</b>
		<b class="seatBlock" href="{% url 'submenu' uid 2 %}">座位区2</b>
		<b class="seatBlock" href="{% url 'submenu' uid 3 %}">座位区3</b>
	</div>
	<div class="row">
		<b class="seatBlock" href="{% url 'submenu' uid 4 %}">座位区4</b>
		<b class="seatBlock" href="{% url 'submenu' uid 5 %}">座位区5</b>
		<b class="seatBlock" href="{% url 'submenu' uid 6 %}">座位区6</b>
	</div>
	<div class="row">
		<b class="seatBlock" href="{% url 'submenu' uid 7 %}">座位区7</b>
		<b class="seatBlock" href="{% url 'submenu' uid 8 %}">座位区8</b>
		<b class="seatBlock" href="{% url 'submenu' uid 9 %}">座位区9</b>
	</div>
{% endblock %}