{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block css%}
<link href="{% static 'css/vote_mainpage.css' %}"  rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
投票页面
{% endblock %}

{% block theme %}
    {{ vote.name }}
{% endblock %}

{% block content %}
<center>
	<div id="voteArea">
		<div id="info">您可以投{{vote.max_num}}项，点击图片查看详情</div>
<form id="voteItem" action="{% url 'userpage.views.vote_user_post' vote.id openid %}" method="post">


	<table>
	</table>
	</form>

	<button type="button" onclick="commitVote();" style="margin-top:1em;width:54px;height:34px;background-color: #fff;border-radius:9px;font-size:1em;">提交</button>
	<div id="hint"></div>
</div>



	<div id="failure" style="display:none">
	<p class="help-block" id="errorinfo"> 有错误发生 </p>
    <a href="{% url 'userpage.views.vote_main_view' vote.id openid %}">
        <button type="button" style="margin-bottom:20px;width:80px;height:41px;background-color: #fff;border-radius:9px;font-size:14px;font-family: 微软雅黑, 黑体, 宋体;">返回</button>
    </a>
</div>

<div id="success" style="display: none">
    <img src="{% static "img/success.png" %}" />
    <p>投票成功！感谢您的参与</p>
	<a href="{% url 'userpage.views.vote_main_view' vote.id openid %}"><button type="button" style="margin-bottom:20px;width:80px;height:41px;background-color: #fff;border-radius:9px;font-size:1.4em;">返回</button>
    </a>
</div>
</center>

	{% endblock %}

{% block js %}
<script src="http://soso.qstatic.com/wenwen/deploy/js/sea_modules/jquery/1.7.2/jquery-1.7.2.min_a0069db.js"></script>
<script src="{% static 'lib/jq/form/jquery.form.min.js' %}"></script>	
<script type="text/javascript">
	 var votenum = 0
	 var maxVote = {{vote.max_num}}
     var vote_items = [
            {% for item in vote.items %}
                {
                    'voted':{{item.voted}},
                   	'name': '{{item.name}}',
                   	'vote_num':{{item.vote_num}},
                   	'pic_url':'{{item.pic_url}}',
					'id':{{item.id}}
                }{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        ];
     var vote_name = '{{vote.name}}'
	 var voted = {{vote.voted}}
</script>
<script src="{% static 'js/vote_mainpage.js' %}"></script>
{% endblock%}
