{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block css%}
<link href="{% static 'css/vote_mainpage.css' %}"  rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
投票页面
{% endblock %}

{% block theme %}
    {{ vote.name }}
{% endblock %}

{% block content %}


<form id="voteItem" >
{% for item in vote.items %}
	<img src = "{{ item.pic_url }}" >
	<span></span>
	<input type ="checkbox" name={{item.name}}>
	投票数目:{{item.vote_num}}

{% endfor %}
</form>

<button type="button" onclick="commitVote();" style="margin-bottom:20px;width:80px;height:41px;background-color: #fff;border-radius:9px;font-size:1.4em;">确认</button>

{% block js %}
<script src="{% static 'js/vote_mainpage.js' %}"></script>
{% endblock%}