{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
    <title></title>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link href="{% static 'css/vote_item_detail.css' %}"  rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jq/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript">
        window.onerror = function() {
            return true;
        }
    </script>
</head>

<body>
    <div id="robot" class="robot">
        <article id="container" class="ticket">
            <section class="info">
                <figure>
                    <!--<div class="mask"></div>-->
                    <div id="activity_title_image" style="-webkit-animation:inherit;" class="m-cover"></div>
                </figure> 
                <figure>
                    <figcaption>
                        <p class="time">{{ item.vote_name }}</p>
                        <h1 id="activity_title"></h1>
                    </figcaption>
                </figure>
                <div class="lead" id="activity_extra_info">
                        <img style="max-width:200px;" src="{{ item.pic_url }}"/>
                </div>
                <div class="corner"></div>
                <div class="details">
                    <div class="body">
                        <p id = 'activity_description'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                    </div>
                </div>
            </section>
        </article>
    </div>

    <script type="text/javascript">
        var activity_page_title = "{{ item.vote_name }}";
        var activity_title = "{{ item.name }}";
        var activity_title_image = "{{ item.vote_pic }}";
        var activity_extra_info = [];
        var activity_description = "{{ item.description }}"
        activity_description = activity_description.replace(/&lt;/g, '<');
        activity_description = activity_description.replace(/&gt;/g, '>');
        activity_description = activity_description.replace(/ /g, '&nbsp');
        $('title').text(activity_page_title);
        $('#activity_description').html(activity_description);
        $('#activity_title').text(activity_title);
        $('#activity_title_image').css("background","url("+activity_title_image+") no-repeat")
                          .css("max-height", "100px").css("background-size", "cover");
        
        var has_images = {{ item.has_images }};
        if (has_images == 0) {
            $('#activity_extra_info img').attr({
                'src' : ''
            });
        }
    </script>
</body>
</html>
