{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
投票页面
{% endblock %}

{% block theme %}
    {{ vote.name }}
{% endblock %}

{% block content %}

<form id="voteItem" >
{% for item in vote.items %}
	<img src = "{{ item.pic_url }}" >
	<span></span>
	<input type ="checkbox" name={{item.name}}>
	投票数目:{{item.vote_num}}

{% endfor %}
</form>

{% endblock %}

{% block css%}
<link href="{% static 'css/vote_mainpage.css' %}" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/vote_mainpage.js' %}"></script>
{% endblock%}