.td-status {
    min-width: 90px;
}
.td-name {
    min-width: 90px;
    word-break: break-all;
}
.td-description {
    word-break: break-all;
    min-width: 100px;
}
.td-start_time {
    width: 135px;
}
.td-end_time {
    width: 135px;
}
.td-operations {
    min-width: 62px;
}
.td-detail_url {
    min-width: 70px;
}
.td-delete {
    min-width: 50px;
    text-align: center;
}
.td-ban{
    color: red;
}