.progress-in-form {
    margin-top: 7px;
    margin-bottom: 0;
}

.form-group.date-input {
    margin-left: 0;
    margin-right: 0;
    width: 13%;
}

.form-group.date-label {
    margin-left: 0;
    margin-right: 0;
    width: 5%;
}

.form-group.date-offset {
    margin-left: 0;
    margin-right: 0;
    width: 3%;
}

.form-group.date-label>label {
    padding-top: 0;
    padding-left: 5px;
}

.td-vote_num{
    width: 385px;
}

.td-item_name{
    width: 553px;
}

.vote_delete:hover{background:url("votedel2.gif");}
.vote_delete{display:block;width:20px;height:20px;background:url("votedel.gif");background-repeat:no-repeat;float:right;margin-left:10px;line-height:25px;}
.vote_option_summary{margin-bottom:15px;margin-left:65px;}