.ticket-wrapper{
    float: left;
    padding-bottom: 8px;
    text-align: left;
}
.info-wrapper{
    text-align: left;
    padding-bottom: 5px;
}
.img-inner{
    float: left;
    width: 6.6rem;
    height: 9rem;
    margin:0; 
    padding:0;
    overflow:hidden; 
}
img{
    max-width: 100%;
}
.status-size{
    font-size: 18px;
}
.ticket-invalid{
   color: red;
}
.ticket-valid{
   color: green;
}
.ticket-used{
    color: orangered;
}
.img-caption{
    text-align: left;
    padding-top: 3px;
}
.button{
	padding: 10px;
	background-color: EA0000;
	font-size: 24px;
	color: black;
}