a img{
    width:8em;
    height:8em;
}

form{
    width: 100%;
    text-align: center;
}

table{
    width: 90%;
    margin: 0px auto;
}

tr{
    width: 100%;
}

td{

    width: 20%;
}

input[type="checkbox"]{
    display: none;
}

.checkbox {
    width: 3em;
    height: 3em;
    background: #ddd;
    margin-top: 0.5em;
    border-radius: 100%;
    position: relative;
    margin: 0px auto;
}

.checkbox label {
    width: 2em;
    height: 2em;
    border-radius: 4em;
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 1;
    background: white;
}

.checkbox input[type=checkbox]:checked + label {
    background: red;
}

.table{
    text-align: center;
    width:100%;
}