form {
    width: 100%;
    text-align: center;
    font-family: Microsoft YaHei
}

table {
    width: 90%;
    margin: 0px auto;
}

tr {
    width: 100%;
}

td {
    white-space: normal; 
    word-break: break-all;
    width: 20%;
    padding-top: 0px; 
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.table {
    text-align: center;
    width: 100%;
	margin-top: 15px;
    margin-bottom: 6px;
}

.voteitem {
	margin: 0em;
}

#hint {
	margin-bottom: 4em;
}

.vote-button {
    display: none;
    margin-top: 1em;
    width: 60px;
    height: 34px;
    background-color: #fff;
    border-radius: 9px;
    font-size: 1em;
}

.vote2 {
    text-align: center;
}

.vote-number {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 5px;
}

.detail-entry {
    float: left;
    width: 30px;
}
