img{
    width:8em;
    height:8em;
}

form{
    width: 100%;
    text-align: center;
}

table{
    width: 90%;
    padding-left: 5%;
}

tr{
    width: 100%;
}

td{

    width: 20%;
}

input[type="checkbox"]{
    display: none;
}

.checkbox {
    width: 3em;
    height: 3em;
    background: #ddd;
    margin-top: 0.5em;
    border-radius: 100%;
    position: relative;
    margin: 0px auto;
}

.checkbox label {
    width: 75%;
    height: 75%;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    z-index: 1;
    background: #333;
}

.checkbox input[type=checkbox]:checked + label {
    background: #26ca28;
}

.table{
    text-align: center;
    width:100%;
}