form {
    width: 100%;
    text-align: center;
    font-family: Microsoft YaHei;
}

table {
    width: 90%;
    margin: 0px auto;
}

.table {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 6px;
}

tr {
    width: 100%;
}

td {
    white-space: normal; 
    word-break: break-all;
    width: 20%;
    padding-top: 0px; 
    text-align: center;
}

button {
    background-color: #c62d1f;
    border: 1px solid #c62d1f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    display: none;
    width: 100%;
    height: 45px;
}

.item-box {
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.item-box-grid {
    width: 90px;
    height: 180px;
    color: #FFFFFF;
    font-size: 13px;
    margin: 0 5px 15px 5px;
    float: left;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
}

.item-image {
    position: absolute;
    height: 90px;
    width: 90px;
    top: 5px;
    left: 5px;
}

.item-image-grid {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 5px;
    left: 5px;
}

.item-image img {
    height: 100%;
}

.item-image-grid img {
    height: 100%;
}

.item-name {
    position: absolute;
    top: 15px;
    left: 110px;
    color: black;
}

.item-name-grid {
    position: absolute;
    top: 90px;
    color: black;
    width: 100%;
}

.item-description {
    position: absolute;
    top: 40px;
    left: 110px;
    color: black;
}

.item-description-grid {
    position: absolute;
    top: 110px;
    color: black;
    width: 100%;
}

.item-vote {
    position: absolute;
    top: 65px;
    left: 110px;
    color: black;
}

.item-vote-grid {
    position: absolute;
    top: 130px;
    color: black;
    width: 100%;
}

.item-tick {
    position: absolute;
    right: 0;
    height: 100px;
    width: 100px;
}

.item-tick-grid {
    position: absolute;
    left: 5px;
    bottom: 5px;
    height: 80px;
    width: 80px;
    z-index: 2px;
}

.item-tick img {
    height: 100%;
    width: 100%;
}

.item-tick-grid img {
    height: 100%;
    width: 100%;
}

.button-area {
    text-align: center;
}
